{{ $cid := printf "collapsible-%s" (anchorize .Title) }}
<div>
	<input id="{{ $cid }}" class="toggle" type="checkbox">
	<label for="{{ $cid }}" class="label-toggle" tabindex="0">
		<a href="{{ .RelPermalink }}">{{ .Title }}</a>
	</label>
	<div class="collapsible-content">
		<div class="collapsible-inner">
			{{ .Summary }}
		</div>
	</div>
</div>
