<hr class="centered"/>
<div class="centered">
	<input id="footer-collapsible" class="toggle" type="checkbox">
	<label for="footer-collapsible" class="footer-toggle" tabindex="0">
		<a>&#169; 2020 Neil Moore</a>
	</label>
	<div class="collapsible-content">
		<div class="collapsible-inner">
			<p>Neil Moore's personal website<br>Copyright &#169; 2020 Neil Moore
			<br><br>
			This program is free software: you can redistribute it and/or modify
			it under the terms of the GNU Affero General Public License as
			published by the Free Software Foundation, either version 3 of the
			License, or (at your option) any later version.
			<br><br>
			This program is distributed in the hope that it will be useful,
			but WITHOUT ANY WARRANTY; without even the implied warranty of
			MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
			GNU Affero General Public License for more details.
			<br><br>
			You should have received a copy of the GNU Affero General Public License
			along with this program.  If not, see
			<a href="https://www.gnu.org/licenses/">gnu.org/licenses</a>.
			<br><br>
			<a href="https://gitlab.com/Dar13/moor3-website">Code Repository</a>
			</p>
		</div>
	</div>
</div>
