<div class="header-container">
	<div class="grid-header">
		<h1>Neil Moore</h1>

		<div class="header-links">
			{{ range .Site.Menus.main }}
			<div>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</div>
			{{ end }}
		</div>
	</div>
	<hr class="header-hr"/>
</div>
