<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
			<div class="all">
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
				{{- partial "footer.html" . -}}
        </div>
			</div>
    </body>
</html>
