{{ define "main" }}
	{{ .Content }}
	{{ range .Pages.GroupByParam "category" }}
		<h3>Latest {{ .Key | pluralize }}</h3>
		<ul class="none">
		<!-- TODO: Sort by date... -->
		{{ range (first 5 .Pages) }}
			<li>
			{{- partial "collapsible.html" . -}}
			</li>
		{{ end }}
		</ul>
	{{ end }}
{{ end }}
