{{ define "main" }}
{{ if eq .Type "articles" }}
<h2 id="title">{{ .Title }}</h2>
<div class="article-date">
	<p id="date">Written: {{ .Date.Format "January 2, 2006" }}{{ if not (eq .Lastmod .Date) }} | Modified: {{ .Lastmod.Format "January 2, 2006" }}{{ end }}</p>
</div>
{{ end }}

{{ if eq .Type "resume" }}
<div class="centered">
{{ end }}

{{ .Content }}

{{ if eq .Type "resume" }}
</div>
{{ end }}
{{ end }}
