{{ define "main" }}
	{{ .Content }}
	{{ $pages := where .Site.RegularPages "Section" "==" "articles" }}
	{{ range $pages.GroupByParam "category" }}
		<h3>Recent {{ .Key | pluralize }}</h3>
		<ul class="none">
			<!-- TODO: Sort by date... -->
			{{ range (first 5 .Pages) }}
				<li>
					{{- partial "collapsible.html" . -}}
				</li>
			{{ end }}
		</ul>
	{{ end }}
{{ end }}
