/* Layout */
div h2 {
	margin-bottom: 0;
}

p {
	margin: 0;
}

hr + p {
	margin-top: 1em;
}

p + p {
	margin-top: 1em;
}

.all {
	display: grid;
	grid-template-columns: 1fr minmax(min-content, 80ch) 1fr;
	grid-gap: 5px;
	grid-auto-rows: minmax(100px, auto);
	max-width: 100%;
}

.header-container {
	grid-column: 2 / 3;
	grid-row: 1;
}

#content {
	grid-column: 2 / 3;
	grid-row: 2;
}

.grid-header {
	display: grid;
	grid-template-columns: 80% 20%;
	height: 100%;
}

.header-links {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.article-date {
	display: block;
	margin-bottom: 1em;
}

/* Display */
body {
	background-color: #0B0C10;
}

p, li, a, label {
	font-family: helvetica;
	color: #C5C6C7;
}

div.centered h2,
div.centered label {
	text-align: center;
}

div.centered,
hr.centered {
	margin: auto 15% auto 15%;
}

div.centered blockquote {
	font-size: 2rem;
	quotes: "\201C""\201D""\2018""\2019";
	text-align: center;
	position: relative;
	line-height: 1.4;
}

div.centered blockquote::before,
div.centered blockquote::after {
	position: absolute;
	font-size: 4rem;
	color: #C5C6C7;
	width: 2rem;
	height: 1rem;
}

div.centered blockquote::before {
	content: open-quote;
	left: -2rem;
	top: -2rem;
}

div.centered blockquote::after {
	content: close-quote;
	right: -2rem;
	bottom: 1rem;
}

input[type='checkbox'] {
	display: none;
}

.label-toggle {
	display: block;
	padding: 1em;
	color: #C5C6C7;
	border: 2px solid #0B0C10;
	transition: border-color 0s linear;
}

.label-toggle::before {
	content: ' ';
	display: inline-block;

	border-top: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	border-left: 0.5em solid currentColor;

	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);

	transition: transform 0.25s ease-in;
}

.label-toggle:hover {
	display: block;
	color: #45A29E;
}

.footer-toggle {
	display: block;
}

.footer-toggle:hover {
	color: #45A29E;
}

.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}

.collapsible-inner {
	display: inline-block;
	background-color: #484f6a;
	padding: 0.5em;
	border-radius: 0 0 0.25em 0.25em;
}

.toggle:checked + .label-toggle + .collapsible-content,
.toggle:checked + .footer-toggle + .collapsible-content{
	max-height: 100vh;
}

.toggle:checked + .label-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .label-toggle,
.toggle:checked + .footer-toggle {
	border: 1px solid #484f6a;
	border-radius: 0.25em;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	transition: border-color 0.25s linear;
}

ul.none {
	list-style-type: none;
}

ul.dash {
	list-style-type: none;
}

ul.dash > li:before {
	content: "&ndash;";
	position: absolute;
	margin-left: -1.1em;
}

h1, h2, h3, h4, h5 {
	font-family: helvetica;
	color: #C5C6C7;
}

hr {
	margin-top: 0;
	margin-bottom: 0;
	border: 0.1em solid #C5C6C7;
}

.header-hr {
	border: 0.15em solid #C5C6C7;
}

a:link {
	color: #C5C6C7;
}

a:visited {
	color: #C5C6C7;
}

a:hover {
	color: #45A29E;
}

a:focus {
	color: #45A29E;
}

.article-date {
	font-size: medium;
}

/* Media queries */

@media (-webkit-min-device-pixel-ratio: 2) {
	html {
		font-size: 24px;
	}
}

@media (-webkit-min-device-pixel-ratio: 3) {
	html {
		font-size: 36px;
	}
}

@media (-webkit-max-device-pixel-ratio: 1) {
	html {
		font-size: 16px;
	}
}
